<section class="calculate-device">
 <div class="display">
   <input type="text" disabled [(ngModel)]="userData" (keyup)="parseUserDataToArr()">
 </div>
  <div class="calculate-device__buttons">
    <div class="calculate-device__num-buttons">
      <button *ngFor="let button of buttons.reverse()"
              class="button"
              [class.order]="button.value===0"
              [value]="button.value"
              [disabled]="isDisabled"
              (click)="insertData(button.value)">{{button.index}}</button>
    </div>
    <div class="calculate-device__operators">
      <button class="button"
              (click)="chooseOperation('methodMultiply')"
              [value]=" '*' ">*
      </button>
      <button class="button"
              (click)="chooseOperation('methodSum')"
              [value]=" '+' ">+
      </button>
      <button class="button"
              (click)="chooseOperation('methodMinus')"
              [value]=" '-' ">-
      </button>
      <button class="button"
              (click)="calculate()"
              [value]=" '=' "> =
      </button>
    </div>
  </div>
</section>
